<div class="container-fluid">

<div class="row">

  <div class="span6">

  <div class="well">
    <div class="input-prepend">
      <span class="add-on">@</span>
      <input class="span2" id="tweetUser" type="text" placeholder="Username">
    </div>
    <textarea class="span5" id="new_message" name="new_message" placeholder="Type in your message" rows="5"></textarea>
    <!-- <h6 class="pull-right">320 characters remaining</h6> -->
    <button id="postTweet" class="btn btn-info">Post New Message</button>
    </div>

    <div class="well">
      <button id="randomTweet" class="btn">Random Tweet</button>
      <button id="liveTweet" class="btn" >Live Tweets</button>
    </div>

  </div>

  <div class="span4">
    <%= render 'partials/iphone' %>
  </div>

</div>
