<div class="container">
<div class="row-fluid">
  <div class="span6">
    <div id="HackerTweet" class="container-fluid">
      <div class="span2">
      <h1>HackerTweet</h1>
      </div>
      <div class="pull-right">
      <h4><smal>developed by</small> <a href="https://twitter.com/gdi2290/" target="_blank">@gdi2290</a></h4>
      </div>
    </div>
    <div class="well">
      <div class="input-prepend">
        <span class="add-on">@</span>
        <input class="span8" id="tweetUser" type="text" placeholder="Username" autofocus>
      </div>
      <br>
      <textarea class="span12" id="new_message" name="new_message" style="resize:none" placeholder="Type in your message" rows="5"></textarea>
      <h6 id="#characters" class="pull-right">140 characters remaining</h6>
      <br>
      <button id="postTweet" class="btn btn-info">Post New Message</button>
    </div>

    <div class="well center">
      <button id="randomTweet" class="btn">Random Tweet</button>
      <button id="liveTweet" class="btn" >Live Tweets</button>
    </div>

    <div id="twitterTweet">
    </div>

  </div>

  <div class="span5 offset1" style="margin-top:20px;">
    <center>
      <%= render 'partials/iphone' %>
    </center>
  </div>

</div>
