<div class="container-fluid">
  <h1 class="inline" style="display:inline !important;">
  HackerTweet
  <div class="pull-right">
    <h3>
      <a href="https://twitter.com/gdi2290/" target="_blank">@gdi2290</a>
    </h3>
  </div>
  </h1>
</div>
