<div class="container-fluid">
  <h1 id="HackerTweet" class="inline">
  HackerTweet
    <h3 class="pull-right inline"  style="display:inline !important;">
      <a href="https://twitter.com/gdi2290/" target="_blank">
        <img id="MyImage" src="https://si0.twimg.com/profile_images/1694210876/ysoserious_bigger.jpg">
        @gdi2290
      </a>
    </h3>
  </h1>
</div>
